# dependencies
node_modules

# logs
*.log

# next.js
.next
next-env.d.ts

# build
/app
dist
.vscode
/renderer/out

received_files
temp_uploads
test-cache-dir
shared
audio_cache.db
audio_cache.db-shm
audio_cache.db-wal
DiscordRichPresenceApi.exe
ffmpeg.exe
