:root {
    --color-background: #000000; /* Black color */
    --color-text: #ffffff; /* White color */
    --color-bright-purple: #4401FF;
    --color-secondary: #16151A;
    --color-accent: #ffffff;
    --color-pink: #E36FF1;
    --color-purple: #2D04A3;
/* GradientEffect Colors */
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
  }
  